<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
    <link href='https://fonts.googleapis.com/css?family=Cairo:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins:600' rel='stylesheet' type='text/css'>
    <title>Mike Gregory</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-top">
          <img src="http://placehold.it/160x160/de2728/000000">
          <ul class="navbar">
            <li id="bio" onclick="showBio()">Who am I?</li>
            <li>Projects</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="navbar-bottom">
          <ul class="navbar">
            <a href="https://github.com/mgreg90">
              <li>
                <i class="fa fa-github fa-2x"></i>
              </li>
            </a>
            <a href="https://www.linkedin.com/in/mgreg90">
              <li>
                <i class="fa fa-linkedin fa-inverse fa-2x"></i>
              </li>
            </a>
            <a href="https://twitter.com/mrmikegregs">
              <li>
                <i class="fa fa-twitter fa-2x"></i>
              </li>
            </a>
          </ul>
        </div>
      </div>
      <div id="bio-container" class="page-container">
        <div class="inner-container">

        </div>
      </div>
      <div id="projects-container" class="page-container">

      </div>
      <div id="contact-container" class="page-container">

      </div>
      <div class="landing-container">
       <div class="flex-vert-center">
          <div id="title-container" class="title-container">
            <h1 class="landing-name">Mike Gregory</h1>
            <div class="title-divider"></div>
            <h2 class="landing-name">Web Developer</h2>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../javascripts/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
  </body>
</html>
