<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
    <link href='https://fonts.googleapis.com/css?family=Cairo:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins:600' rel='stylesheet' type='text/css'>
    <title>Mike Gregory</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-top">
          <img id="nav-logo" src="http://placehold.it/160x160/de2728/000000" onClick="showHome()">
          <ul class="navbar">
            <li id="bio" onclick="showBio()">Who am I?</li>
            <li id="projects" onclick="showProjects()">Projects</li>
            <li id="contact" onclick="showContact()">Contact</li>
          </ul>
        </div>
        <div class="navbar-bottom">
          <ul class="navbar">
            <a href="https://github.com/mgreg90">
              <li>
                <i class="fa fa-github fa-2x"></i>
              </li>
            </a>
            <a href="https://www.linkedin.com/in/mgreg90">
              <li>
                <i class="fa fa-linkedin fa-inverse fa-2x"></i>
              </li>
            </a>
            <a href="https://twitter.com/mrmikegregs">
              <li>
                <i class="fa fa-twitter fa-2x"></i>
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!-- Bio -->
      <div id="bio-container" class="page-container">
        <!-- Dummy bio first panel -->
        <div class="panel projects-panel-title"> <!-- Needs class like id="bio-panel-title" -->
          <h2 id="projects-panel-title">Bio</h2> <!-- Needs ID like id="bio-panel-title" -->
        </div>
      </div>
      <!-- Projects -->
      <div id="projects-container" class="page-container">
        <!-- Projects title panel -->
        <div class="panel projects-panel-title">
          <h2 id="projects-panel-title">Projects</h2>
        </div>
        <!-- Projects list panel -->
        <div class="panel projects-panel-2 vert-scroll-panel">
          <div class="indiv-project-button">
            <h3>Open Mic</h3>
            <p>
              Open Mic is a platform for fans of local comedy to rate and review
              local comedy shows and comedians. Comedians can use Open Mic to
              build a reputation and gain feedback from fans.
            </p>
            <img src="http://placehold.it/250x250">
          </div>
          <div class="indiv-project-button">
            <h3>TechStart</h3>
            <p>
              My first group project! TechStart is a place for employers and
              job seekers to meet. Companies place profiles on TechStart so that
              job hunters can find information about them more easily.
            </p>
            <img src="http://placehold.it/250x250">
          </div>
          <div class="indiv-project-button">
            <h3>Appointment API</h3>
            <p>
              As part of a coding challenge, I had to build an API that would
              allow a user to print, schedule, reschedule, and cancel
              appointments.
            </p>
            <img src="http://placehold.it/250x250">
          </div>
          <div class="indiv-project-button">
            <h3>NBA 3-on-3</h3>
            <p>
              My first REPL game! It's an NBA 3-on-3 simulator based on the
              classic NBA Jams games. Players have different skill sets and
              there's a 24 second shot clock. Have fun!
            </p>
            <img src="http://placehold.it/250x250">
          </div>
          <div class="indiv-project-button">
            <h3>Election Simulator</h3>
            <p>
              This simple election simulator lets users register individual
              voters or generate voters in batches based on ideology
              distribution. The user can then register politicans and see who
              wins!
            </p>
            <img src="http://placehold.it/160x160">
          </div>
        </div>
        <div class="panel">
          <h2 id="projects-panel-title">Some Project</h2>
        </div>
      </div>
      <!-- Contact -->
      <div id="contact-container" class="page-container">
        <!-- Dummy contact first panel -->
        <div class="panel projects-panel-title"> <!-- Needs class like id="contact-panel-title" -->
          <h2 id="projects-panel-title">Contact</h2> <!-- Needs ID like id="contact-panel-title" -->
        </div>
      </div>
      <!-- Landing -->
      <div id="landing-container" class="landing-container">
       <div class="flex-vert-center">
          <div id="title-container" class="title-container">
            <h1 class="landing-name">Mike Gregory</h1>
            <div class="title-divider"></div>
            <h2 class="landing-name">Web Developer</h2>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../javascripts/home.js"></script>
    <script type="text/javascript" src="../javascripts/home-jquery.js"></script>
  </body>
</html>
