<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/contact.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/projects.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bio.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo:700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet" type="text/css">
    <title>Mike Gregory</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-top">
          <div id="nav-logo">
            <span id="logo-text">mg</span>
          </div>
          <!-- <img id="nav-logo" src="http://placehold.it/160x160/de2728/000000"> -->
          <ul class="navbar">
            <li id="bio" class="navbar-button">Who am I?</li>
            <li id="projects" class="navbar-button">Projects</li>
            <li id="contact" class="navbar-button">Contact</li>
          </ul>
        </div>
        <div class="navbar-bottom">
          <ul class="navbar">
            <a href="https://github.com/mgreg90">
              <li>
                <i class="fa fa-github fa-2x"></i>
              </li>
            </a>
            <a href="https://www.linkedin.com/in/mgreg90">
              <li>
                <i class="fa fa-linkedin fa-inverse fa-2x"></i>
              </li>
            </a>
            <a href="https://twitter.com/mrmikegregs">
              <li>
                <i class="fa fa-twitter fa-2x"></i>
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!-- <div class="body-container"> -->
        <!-- Bio -->
        <div id="bio-container" class="page-container">
          <!-- Bio title panel -->
          <div class="panel projects-panel-title">
            <div class="panel-title-box">
              <h2 id="bio-panel-title">About Me</h2>
              <div class="title-divider panel-divider"></div>
            </div>
          </div>

          <!-- Bio panel -->
          <div id="bio-panel" class="panel show-bio">
            <div class="bio-panel-body">
              <div class="bio-panel-half">
                <div class="bio-img-container">
                  <img src='assets/wyncodePhoto.png'/>
                </div>
                <p>
                  Hello! My name is Michael Gregory and I'm a teaching assistant
                  at Wyncode Academy and a web developer down here in sunny
                  Miami, FL! I'm proficient in Ruby, HTML, CSS, JavaScript, and
                  the Ruby on Rails framework. My background is in finance, so
                  if you are looking for a dynamic webpage for your investment
                  consulting, financial advising, banking, or fund management
                  firm, I'm uniquely qualified to understand your
                  industry-specific needs and build your webpage!
                </p>
              </div>
            </div>
          </div>

        </div>
        <!-- Projects -->
        <div id="projects-container" class="page-container">
          <!-- Projects title panel -->
          <div class="panel projects-panel-title">
            <div class="panel-title-box">
              <h2 id="projects-panel-title">Projects</h2>
              <div class="title-divider panel-divider"></div>
            </div>
          </div>
          <!-- Projects list panel -->
          <div class="panel projects-panel-2 vert-scroll-panel">

            <!-- Project Buttons Go here -->
            <ul id="project-buttons">
              <li class="indiv-project-button" data-panel='{"title":"Unofficial Yahoo Finance API", "summary":"My unofficial Yahoo! Finance API simply calls either the yahoo finance historical prices API or the yahoo finance present day data API and reformats each object as JSON.", "github":"http://github.com/mgreg90/yahooStockApi", "url":"http://yahoo-stock-api.herokuapp.com", "image":"assets/project-images/yahoo-finance-api.png"}'>
                <h3>Yahoo Finance API</h3>
              </li>
              <li class="indiv-project-button" data-panel='{"title":"Grozhers", "summary":"Grozhers is a (poorly named) group grocery list app. Users can create and join groups and add or remove items from the grocery list. Great for keeping grocery lists organized for families with many people who might go to the store or many people who might want to request an item.", "github":"http://github.com/mgreg90/grozhers2", "url":"http://grozhers.herokuapp.com", "image":"assets/project-images/grozhers.png"}'>
                <h3>Grozhers</h3>
              </li>
              <li class="indiv-project-button" data-panel='{"title":"Open Mic", "summary":"My final project at wyncode! Open Mic is a social media web app for comedians, show promoters, and comedy fans. Users and comedians can leave reviews and ratings for shows and comedians so that other users can make more informed decisions about which comedians and shows to go see. The app provides some transparency into local comedy scenes so that potential fans can make decisions about which shows and comedians to go see.", "github":"https://github.com/AllWeDoisNguyen/OpenMic", "url":"http://openmicmiami.co", "image":"assets/project-images/open-mic.png"}'>
                <h3>Open Mic</h3>
              </li>
              <li class="indiv-project-button" data-panel='{"title":"Tech Start", "summary":"My friends & family night project at wyncode! Tech Start is a platform for companies to create profiles so that potential employees can make more informed decisions about which companies are right for them. Companies benefit because high quality employees will be more likely to apply if they know that a company is offering what they are most looking for.", "github":"http://github.com/mgreg90/TechStart", "url":"http://techstart.herokuapp.com/", "image":"assets/project-images/tech-start.png"}'>
                <h3>Tech Start</h3>
              </li>
              <li class="indiv-project-button" data-panel='{"title":"Appointment API", "summary":"Built for the CareCloud coding challenge! The Appointment API provides an interface for other apps to view/create/remove/update appointments by sending information through the params of an http request.", "github":"https://github.com/mgreg90/Appointments", "url":"https://carecloudapptsapi.herokuapp.com/", "image":"assets/project-images/appointment-api.png"}'>
                <h3>Appointment API</h3>
              </li>
              <li class="indiv-project-button" data-panel='{"title":"Election Simulator", "summary":"A command-line game/tool to simulate an election. Users can generate a number of voters and indicate their political ideologies and also create politicians. The user can then run scenarios of elections with different voting populations and candidate combinations and see different outcomes.", "github":"http://github.com/mgreg90/voting_simulator", "url":"", "image":"assets/project-images/voter-sim.png"}'>
                <h3>Election Simulator</h3>
              </li>
              <li class="indiv-project-button" data-panel='{"title":"NBA 3-on-3", "summary":"My REPL game at wyncode! It simulates an NBA basketball game. There is a game clock and a shot clock and two teams: the Miami Heat and the Cleveland Cavaliers. Players on each time have different skills for shooting and driving.", "github":"http://github.com/mgreg90/basketball_game", "url":"", "image":"assets/project-images/nba-3-on-3.png"}'>
                <h3>NBA 3-on-3</h3>
              </li>
              <li class="indiv-project-button" data-panel='{"title":"Nina & Danton", "summary":"A static website for my cousin Nina&#39;s wedding. Built using only regular old HTML, CSS, JS, and JQuery. Also, using Sinatra for easy hosting on heroku. Old version is at &#60;a href=http://ninaanddanton.com&#62;http://ninaanddanton.com&#60;&#47;a&#62; for comparison.", "github":"https://github.com/mgreg90/ninaAndDanton", "url":"http://ninaanddanton.herokuapp.com", "image":"assets/project-images/nina-and-danton.png"}'>
                <h3>Nina & Danton</h3>
              </li>
            </ul>
          </div>

          <!-- Start Individual Project Panel -->
          <div id="indiv-project-panel" class="panel show-project">
            <h2 id="indiv-project-panel-title">Grozhers</h2>
            <div class="indiv-project-panel-body">
              <div class="indiv-project-panel-half">
                <a id="proj-img-link" href=""><img src="http://placehold.it/350x350"></a>
                <ul>
                  <li><a id="github" href="">Link to github</a></li>
                  <li><a id="site" href="">Link to site</a></li>
                </ul>
              </div>
              <div class="indiv-project-panel-half">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
          <!-- End Individual Project Panel -->
        </div>
        <!-- Contact -->
        <div id="contact-container" class="page-container">

          <!-- Contact title panel -->
          <div class="panel projects-panel-title">
            <div class="panel-title-box">
              <h2 id="bio-panel-title">Contact</h2>
              <div class="title-divider panel-divider"></div>
            </div>
          </div>

          <!-- Contact Panel -->
          <div id="contact-panel" class="panel show-contact">
            <div class="contact-panel-body">
              <div class="contact-panel-half">
                <h2>Mike Gregory</h2>
                <ul class="contact-list">
                  <li><a href="tel:1-786-218-8636">Phone: (786) 218-8636</a></li>
                  <li><a href="mailto:mgregory8219@gmail.com">Email: mgregory8219@gmail.com</a></li>
                  <li><a href="http://github.com/mgreg90">GitHub: mgreg90</a></li>
                  <li><a href="http://linkedin.com/in/mgreg90">LinkedIn: mgreg90</a></li>
                  <li><a href="http://twitter.com/mrmikegregs">Twitter: @mrmikegregs</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- Landing -->
      <!-- </div> -->
      <div id="landing-container" class="landing-container">
        <div class="flex-vert-center">
          <div id="title-container" class="title-container">
            <h1 class="landing-name">Mike Gregory</h1>
            <div class="title-divider"></div>
            <h2 class="landing-name">Web Developer</h2>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../javascripts/home-jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"   integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="   crossorigin="anonymous"></script>
  </body>
</html>
