/*
New Color Scheme:

Reddish:
HTML code:	#de2728

Light Blue:
HTML code:	#21addd

Nav Black:
HTML code:	#272727

Nav Text:
HTML code:	#999

Nav Hover Gray:
HTML code:	#4B4B4B

Darker Off-white:
HTML code:	#e1e1e1

Lighter Off-white (actual white?):
HTML code:	#FFFFFF
*/


body {
  margin: 0;
  background-image: url("../assets/backPorchCoding.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

/*Navbar*/

div.navbar {
  height: 100vh;
  background: #272727;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.navbar {
  color: #999;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 5px 0 5px rgba(13, 42, 64, 0.2);
}

ul.navbar li {
  padding: 20px 0 20px 20px;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

#nav-logo {
  cursor: pointer;
}

div.navbar-bottom ul.navbar li {
  padding: 10px 0 10px 0;
  text-align: center;
}

ul.navbar li:hover {
  background: #4B4B4B;
}

.fa {
  color: #999;
}

/*Landing Page*/

div.container {
  height: 100%;
  width: 100%;
  background: #21addd url('../assets/blurred_sky.jpg');
  background-size: cover;
  /*background: #21addd;*/
  /*background: rgba(33, 173, 221, 0.75);*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

div.landing-container {
  height: 100vh;
  width: 100%;
}

.landing-name {
  margin: 0;
  width: auto;
  color:rgb(236, 240, 241);
  font-family: 'Poppins', sans-serif;
  cursor: default;
}

h1.landing-name {
  font-size: 100px;
  padding: 50px 50px 5px 0;
}

h2.landing-name {
  font-size: 35px;
  padding: 15px 0 50px 0;
  margin-left: 10px;
}

div.title-divider {
  border-top: solid rgb(236, 240, 241) 1px;
  border-bottom: solid rgb(236, 240, 241) 1px;
  border-radius: 300px 300px;
  width: 20%;
  height: 3px;
  background: rgb(236, 240, 241);
  margin-left: 5px;
}

div.flex-horiz-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -160px;
}

div.flex-vert-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 160px;
}

div.title-container {

}

div.title-divider-centerer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: #ECF0F1;
}

.page-container {
  height: 80vh;
  width: 80vw;
  background: rgb(231, 76, 60);
  display:block;
  position:absolute;
  top:10vh;
  left: 160px;
}

#bio-container {
  display: none; /* while working on bio */
}

#projects-container {
  display: none; /* while working on bio */
}

#contact-container {
  display: none; /* while working on bio */
}

.inner-container {
  background: rgb(236, 240, 241);
  height: 99%;
  margin: 0.5% 0.5% 0 0;
}
