/*
New Color Scheme:

Reddish:
HTML code:	#de2728

Light Blue:
HTML code:	#21addd

Nav Black:
HTML code:	#272727

Nav Text:
HTML code:	#999

Nav Hover Gray:
HTML code:	#4B4B4B

Darker Off-white:
HTML code:	#e1e1e1

Lighter Off-white (actual white?):
HTML code:	#FFFFFF
*/

/* Project Buttons Start */

#projects-container {
  display: flex; /* while working on bio */
}

div.projects-panel-title {
  background: #e1e1e1 url('../assets/laptopCoding1-resized-bw.jpg');
  background-size: cover;
  border-right: solid #272727 1px;
}

div.projects-panel-2 {
  background: #e1e1e1
}

h2#projects-panel-title {
  color:#e1e1e1;
  font-family: 'Cairo', sans-serif;
  padding: 95px 0 0 50px;
  font-size: 85px;
}

div.indiv-project-button {
  cursor: pointer;
  text-align: center;
  padding: 0 20px;
  border-bottom: 1px black solid;
  font-family: "Cairo", "Helvetica", "Arial", sans-serif;
  letter-spacing: 4px;
}

div.indiv-project-button:last-child {
  margin-bottom: 6px;
}

div.panel.projects-panel-2 {
  width: 300px;
}

/* Project Buttons End */
